# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed


# node-waf configuration
.lock-wscript

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules
jspm_packages

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# json data file created on the fly as part of mock data generation
.\src\api\db.json
# anything thats in the dist folder was built on the fly for production build
dist

# DB data folders
.\api\dbdata\*

# dont ignore these
!bootstrap/dist/css/bootstrap.paper.min.css
