<!--
    This is a template for index.html
    It uses ejx and htmlWebpackPlugin to generate a different index.html for each environment.
    htmlWebpackPlugin wiull dynamically add references to the scripts and styles that it bundles
    to this file.  The generated bundles have hash-based filenames, so its necessary to add references dynamically.
-->
<!DOCTYPE html>
<html lang='en'>

<head>
    <% if (htmlWebpackPlugin.options.trackJSToken) { %>
        <!-- TRACKJS -->
        <!-- this requires a signup on their web site and costs money -->
        <script type="text/javascript">
            window._trackJs = {
                token: '<%=htmlWebpackPlugin.options.trackJSToken%>'
            };

        </script>
        <script type="text/javascript" src="https://cdn.trackjs.com/releases/current/tracker.js"></script>
        <!-- TRACKJS -->
        <% } %>
            <meta charset="utf-8">
            <!-- this figures out if a particular browser needs a polyfill sent to it for the fetch
    feature I am using (making REST API calls
    -->
            <script src='https://cdn.polyfill.io/v2/polyfill.js?features=fetch'></script>
</head>

<body ng-app="jwtApp">
    <div class="container" ng-cloak>

        <div ng-include="'views/header.html'"></div>

        <div class="row">
            <div class="ui-view-container">
                <div ui-view></div>
            </div>
        </div>

        <div ng-include="'views/alert.html'"></div>

        <div class="footer"></div>
    </div>
</body>

</html>
